.auction-wrapper{
    width: 100%;
    background-color: #fff;
    height: calc(100vh - 80px);
    padding: 20px;

    .auction-header{

        .filter{
            padding-top: 20px;
            align-items: end;

            .title-date-picker{
                margin-bottom: 8px;
            }

            .date-picker{
                border: 1px solid #babec5;
                border-radius: 5px;
                height: 40px;
                padding-left: 5px;
                caret-color: #fff200;

                &:focus{
                    border: 1px solid #fff200;
                }
            }

        }
        
    }

    .auction-content{
        height: calc(100% - 104px);
        overflow: auto;
        flex-wrap: wrap;
        margin-top: 15px;

        .content-auction{
            width: 300px;
            height: 550px;
            margin-right: 20px;
            margin-bottom: 20px;

            .image{
                height: 400px;
                width: 100%;
                padding: 20px;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../../../assets/imgs/socute.jpg');
            }

            .info{
                width: 100%;
                height: calc(100% - 400px);
                padding: 20px;
                background-color: #0e1d38;
                color: #fff;

                & > div{
                    padding-bottom: 5px;
                    font-family: notosans-bold;
                }

                .highest-price{
                    font-size: 18px;
                    font-family: notosans-bold;
                    color: #fff200;
                    margin-bottom: 5px;
                }
            }

            &:hover{
                cursor: pointer;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                border: 2px solid #fff200;
            }
        }
    }
}