# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/pic-app-admin/node_modules
/pic-app-client/node_modules
/.pnp
.pnp.js

/pic-app-admin/.pnp
/pic-app-client/.pnp.js



/BE.PICBIN.API/BE.PICBIN.API/bin
/BE.PICBIN.API/RegisterWorker/bin
/BE.PICBIN.API/BE.PICBIN.BL/bin
/BE.PICBIN.API/BE.PICBIN.DL/bin


/BE.PICBIN.API/BE.PICBIN.API/obj
/BE.PICBIN.API/RegisterWorker/obj
/BE.PICBIN.API/BE.PICBIN.BL/obj
/BE.PICBIN.API/BE.PICBIN.DL/obj

# testing
/pic-app-client/coverage
/pic-app-admin/coverage

# production
/pic-app-admin/build
/pic-app-client/build

# misc
/pic-app-admin/.DS_Store
/pic-app-admin/.env.local
/pic-app-admin/.env.development.local
/pic-app-admin/.env.test.local
/pic-app-admin/.env.production.local

/pic-app-client/.DS_Store
/pic-app-client/.env.local
/pic-app-client/.env.development.local
/pic-app-client/.env.test.local
/pic-app-client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


/.VSCodeCounter