.content{
    width: calc(100vw - 200px);
    height: 100%;
    padding: 20px;
    overflow: auto;

    .content-container{
        width: 100%;
        height: auto;
        flex-wrap: wrap;

        .content-picture{
            width: 300px;
            height: 550px;
            margin-right: 20px;
            margin-bottom: 20px;

            .image{
                height: 400px;
                width: 100%;
                padding: 20px;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../../../../assets/imgs/socute.jpg');
            }

            .info{
                width: 100%;
                height: calc(100% - 400px);
                padding: 20px;
                background-color: #0e1d38;
                color: #fff;

                & > div{
                    padding-bottom: 5px;
                }

                .name{
                    font-size: 18px;
                    font-family: notosans-bold;
                    color: #fff200;
                }

                .price, .author{
                    font-family: notosans-bold;
                }
            }

            &:hover{
                cursor: pointer;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                border: 2px solid #fff200;
                // .info{
                //     display: none;
                // }

                // .image{
                //     width: 100%;
                //     height: 100%;
                //     transition-duration: 0.5s;
                // }
            }
            
        }
    }

    .see-more{
        width: 100%;
        background-color: transparent;
        height: 50px;
        padding-bottom: 5px;
        justify-content: center;
    }

    .content-image-detail{
        width: 100%;
        height: 100%;
        padding-bottom: 16px;
        flex-direction: row;

        .image-content{
            display: flex;

            .image{
                flex: 1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border: 1px solid #fff200;
                background-color: #0e1d38;
            }
        }

        .detail{
            margin-left: 20px;

            .image-detail{
                justify-content: center;

                .image-detail-title{
                    font-size: 25px;
                    font-weight: 700;
                }
    
                .image-detail-detail{
                    padding-top: 5px;
                    font-size: 15px;
                }

                .price{
                    font-size: 20px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-weight: 700;
                }
            }
            

        }
    }

    .filter{
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../../../../assets/imgs/menu-4-32.png");
        border: 1px solid #babec5;
        border-radius: 1px;
        cursor: pointer;
        background-size: 19px;
    }

    .filter-box{
        width: 500px;
        height: 300px;
        border: 1px solid #babec5;
        border-radius: 5px;
        background-color: #fff;
        padding: 10px;

        .filter-header{
            padding-bottom: 7px;
            border-bottom: 1px solid #babec5;

            .icon-filter{
                width: 30px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url("../../../../assets/imgs/filled-filter-24.png");
            }
        }

        

        .title-date-picker{
            margin-bottom: 8px;
        }

        .date-picker{
            border: 1px solid #babec5;
            border-radius: 5px;
            height: 40px;
            padding-left: 5px;
            caret-color: #fff200;

            &:focus{
                border: 1px solid #fff200;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .content{
        width: 100vw !important;
        height: calc(100% - 40px) !important;

        .see-more{
            position: relative !important;
            bottom: unset !important;
        }

        .content-image-detail{
            flex-direction: column !important;

            .detail{
                margin-left: 0px;
            }
        }

        .filter-box{
            width: 300px !important;
        }
    }
}