.sell-content{

    .step-2{
        padding: 16px 10px 10px 10px;
        height: calc(100% - 50px);

        .image-content{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
            border: 1px dashed #fff200;
            margin-right: 15px;
            background-color: #0e1d38;
        }

        .detail-content{
            border: 1px dashed #fff200;
            border-radius: 5px;
            padding: 20px;

            .detail-content-title{
                margin-bottom: 20px;
            }
        }
    }

    .sell-content-footer{
        padding-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .sell-content{
        width: 100vw !important;
        height: calc(100% - 40px) !important;

        .content-container{
            justify-content: center;

            .see-more{
                position: relative !important;
                bottom: unset !important;
            }
        }

        .step-2{
            flex-direction: column;

            .image-content{
                margin-bottom: 15px;
            }
        }
    }
}