.auction-detail-wrapper{
    padding-bottom: 20px;

    .auction-image{

        .image{
            flex: 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border: 1px solid #fff200;
            background-color: #0e1d38;
        }
    }

    .auction-detail{
        margin-left: 20px;

        .highest-info{
            padding-bottom: 10px;
            border-bottom: 1px solid #fff200;

            .highest-price{
                font-size: 20px;
                margin-bottom: 10px;
                color: red;
            }
        }

        .timing{
            padding: 10px 0;
            border-bottom: 1px solid #fff200;

            div{
                margin-bottom: 5px;
            }

            .time-remaing{
                color: red;
                padding-top: 10px;
            }
        }

        .your-bet{
            padding: 10px 0;
            border-bottom: 1px solid #fff200;
        }

        .history{
            height: 55%;
            overflow: auto;
            padding: 10px 0;

            .history-detail{
                margin-bottom: 10px;
            }
        }
    }

    .refresh{
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../../../../../assets/imgs/refresh.png");
        margin-right: 15px;
        margin-top: 12px;
        background-size: 19px;
        background-size: contain;
        margin-left: 5px;

        &:hover{
            border: 1px solid #babec5;
            border-radius: 2px;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 768px) {
    .auction-detail-wrapper{
        flex-direction: column;

        .auction-image{
            margin-bottom: 10px;
        }
    }
}